[Bb]in
[Dd]ebug*/
[Rr]elease*/
obj/SystemSettings.csproj.UnmanagedRegistration.cache
bin/Debug/af/GTISystemSettings.resources.dll
bin/Debug/es/ManagedEliteModule.resources.dll
bin/Debug/GTIControls.dll
bin/Debug/GTIControls.pdb
bin/Debug/GTISystemSettings.dll
bin/Debug/GTISystemSettings.pdb
bin/Debug/ManagedEliteModule.dll
bin/Debug/ManagedEliteModule.pdb
obj/Debug/af/GTISystemSettings.resources.dll
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GTI.Modules.SystemSettings.UI.MainForm.resources
obj/Debug/GTI.Modules.SystemSettings.UI.ReceiptSettings.resources
obj/Debug/GTISystemSettings.dll
obj/Debug/GTISystemSettings.pdb
obj/Debug/SystemSettings.csproj.GenerateResource.Cache
obj/Debug/SystemSettings.csprojResolveAssemblyReference.cache
obj/Release/DesignTimeResolveAssemblyReferences.cache
obj/SystemSettings.csproj.UnmanagedRegistration.cache
SystemSettings.v11.suo
